.header{
    text-align: center;
    
}
.brand{
    font-size: 30px;
}
.header nav{
   
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color:#2a93a3;
    border-radius: 10px;
}